@{
    ViewData["Title"] = "Suppliers";
}
@model IEnumerable<Supplier>
<div class="text-center">
    <h2 class="display-4">Suppliers</h2>
    <table class="table table-dark" style="margin: auto; width: 50%">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var supplier in Model)
            {
                <tr>
                    <td>@supplier.Id</td>
                    <td>@supplier.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
